# Python - Gereksiz dosyalar
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Sanal Ortam (Virtual Environment)
venv/
.venv/
env/
.env/
venv.bak/

# Hassas Bilgiler
.env

# IDE ve OS'a özel dosyalar
.vscode/
.idea/
.DS_Store

# Temporary Files
.tmp.driveupload/
